In [2]:
import pandas as pd
import numpy as np

In [3]:
#RateBeer website data :

df_beer = pd.read_csv("RateBeer/beers.csv", index_col='beer_id')
df_breweries  = pd.read_csv("RateBeer/breweries.csv")
df_users = pd.read_csv("RateBeer/users.csv")
df_review = pd.read_csv("RateBeer/reviews.txt", on_bad_lines='skip') #pas ouf

In [4]:
df_review.head(20)

                                     beer_name: Régab
0                                     beer_id: 142544
1   brewery_name: Societe des Brasseries du Gabon ...
2                                   brewery_id: 37262
3                              style: Euro Pale Lager
4                                            abv: 4.5
5                                    date: 1440064800
6                                  user_name: nmann08
7                             user_id: nmann08.184925
8                                    appearance: 3.25
9                                         aroma: 2.75
10                                       palate: 3.25
11                                        taste: 2.75
12                                       overall: 3.0
13                                       rating: 2.88
14                           beer_name: Barelegs Brew
15                                     beer_id: 19590
16  brewery_name: Strangford Lough Brewing Company...
17                                  brewery_id: 10093
18                            style: English Pale Ale
19                                           abv: 4.5

In [5]:
df_beer

,beer_name,brewery_id,brewery_name,style,nbr_ratings,nbr_reviews,avg,ba_score,bros_score,abv,avg_computed,zscore,nbr_matched_valid_ratings,avg_matched_valid_ratings
beer_id,,,,,,,,,,,,,,
166064,Nashe Moskovskoe,39912,Abdysh-Ata (Абдыш Ата),Euro Pale Lager,0,0,NaN,NaN,NaN,4.7,NaN,NaN,0,NaN
166065,Nashe Pivovskoe,39912,Abdysh-Ata (Абдыш Ата),Euro Pale Lager,0,0,NaN,NaN,NaN,3.8,NaN,NaN,0,NaN
166066,Nashe Shakhterskoe,39912,Abdysh-Ata (Абдыш Ата),Euro Pale Lager,0,0,NaN,NaN,NaN,4.8,NaN,NaN,0,NaN
166067,Nashe Zhigulevskoe,39912,Abdysh-Ata (Абдыш Ата),Euro Pale Lager,0,0,NaN,NaN,NaN,4.0,NaN,NaN,0,NaN
166063,Zhivoe,39912,Abdysh-Ata (Абдыш Ата),Euro Pale Lager,0,0,NaN,NaN,NaN,4.5,NaN,NaN,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19139,Kölsch Ale,885,Summit Station Restaurant & Brewery,Kölsch,3,3,2.71,NaN,NaN,5.0,2.713333,NaN,0,NaN
19140,Nut Brown Ale,885,Summit Station Restaurant & Brewery,English Brown Ale,2,1,3.10,NaN,NaN,5.3,3.250000,NaN,0,NaN
19146,Octoberfest,885,Summit Station Restaurant & Brewery,Märzen / Oktoberfest,0,0,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
2805,Scotch Ale,885,Summit Station Restaurant & Brewery,Scotch Ale / Wee Heavy,0,0,NaN,NaN,NaN,7.0,NaN,NaN,0,NaN
19148,Smoked Porter,885,Summit Station Restaurant & Brewery,American Porter,0,0,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN

In [6]:
df_breweries

,id,location,name,nbr_beers
0,39912,Kyrgyzstan,Abdysh-Ata (Абдыш Ата),5
1,39913,Kyrgyzstan,Arpa (АРПА),1
2,39914,Kyrgyzstan,Bear Beer,4
3,39915,Kyrgyzstan,Blonder Pub,4
4,39916,Kyrgyzstan,Kellers Bier,2
...,...,...,...,...
16753,128,Germany,Privatbrauerei Franz Joseph Sailer,6
16754,5023,Aruba,Aruba Brewing,0
16755,1573,"United States, New York",John Harvard’s Brewery & Ale House,491
16756,16186,"United States, North Carolina",Triangle Brewing Company,20
16757,1138,"United States, Maryland",South Baltimore Brewing,0

In [7]:
df_users

,nbr_ratings,nbr_reviews,user_id,user_name,joined,location
0,7820,465,nmann08.184925,nmann08,1.199704e+09,"United States, Washington"
1,2521,2504,stjamesgate.163714,StJamesGate,1.191838e+09,"United States, New York"
2,1797,1143,mdagnew.19527,mdagnew,1.116410e+09,Northern Ireland
3,31,31,helloloser12345.10867,helloloser12345,1.101380e+09,Northern Ireland
4,604,604,cypressbob.3708,cypressbob,1.069326e+09,Northern Ireland
...,...,...,...,...,...,...
153699,1,1,everman.532342,Everman,1.291115e+09,"United States, California"
153700,1,1,justin0001.352175,Justin0001,1.248343e+09,"United States, California"
153701,1,0,kyungsup.982216,Kyungsup,1.430561e+09,NaN
153702,1,1,joetex.800347,JoeTex,1.400234e+09,"United States, California"
153703,1,1,alexmatt86.313751,Alexmatt86,1.238321e+09,"United States, California"